.card {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 4px 4px #dedede;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;

  img {
    width: 85%;
    height: 85%;
  }

  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.card-back-face {
      transform: rotateY(180deg);
    }
  }

  &.is-flipped {
    transform: rotateY(180deg);
  }

  &.is-inactive {
    opacity: 0.3;
    pointer-events: none;
  }
}
