.bold {
  font-weight: 600;
  text-transform: uppercase;
}
.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;

  header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;

    > div {
      font-size: 15px;
      width: 324px;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }

    .score {
      justify-content: center;
      display: flex;

      div {
        padding: 0px 20px 0px 0px;
      }
    }
  }

  footer {
    width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 10px 4px;
    margin-top: 10px;

    .restart {
      display: flex;
      justify-content: center;
    }
  }

  .container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 0.7rem;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    perspective: 100%;
    max-width: 720px;
    background-color: rgb(241 241 241);
    border-radius: 14px;
  }
}
